@use '../global' as *;

.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: $border-radius;
}

.alert-danger {
  color: $red-dark;
  background: $red-light;
}

.alert-success {
  color: $green-dark;
  background: $green-light;
}