@use '../global' as *;

.btn {
  cursor: pointer;
  color: $white;
  background: $primary-500;
  border: transparent;
  border-radius: $border-radius;
  letter-spacing: $letter-spacing;
  padding: 0.375rem 0.75rem;
  box-shadow: $shadow-1;
  transition: $transition;
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: $primary-700;
  box-shadow: $shadow-3;
}

.btn-hipster {
  color: $primary-500;
  background: $primary-200;
}

.btn-hipster:hover {
  color: $primary-200;
  background: $primary-700;
}

.btn-block {
  width: 100%;
}