@use '../global/' as *;
// @use '../components/' as *;

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey-100;
}

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $primary-500;
  animation: bounce 1s ease-in-out infinite;
  transition: $transition;

  &:hover {
    color: $primary-700;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}