@use '../global/' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}

.show-modal {
  opacity: 1;
  z-index: 10;
  visibility: visible;
  transition: opacity, 300ms;
}

.modal-container {
  background: $white;
  width: 90vw;
  height: 30vh;
  border-radius: $border-radius;
  max-width: $fixed-width;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $red-dark;
}