@use '../global/' as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: $red-dark;
  transition: $transition;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

.logo {
  height: 40px;
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: $primary-500;
  color: $red-dark;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: $grey-700;
  transition: all 50ms ease;
  letter-spacing: $letter-spacing;

  &:hover {
    background: $grey-100;
    color: $grey-600;
  }

  & svg {
    font-size: 1.5 rem;
    color: $grey-500;
    margin-right: 1rem;
    transition: $transition;
  }

  &:hover svg {
    color: $grey-700;
  }
}

.social-links {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;

  & a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: $primary-500;
    transition: $transition;

    &:hover {
      color: $primary-800;
    }
  }
  
}